html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Play", sans-serif;
}

table {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
table,
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04010a;
  color: white;
}
